<p>
    Sign up for the newsletter with<br />
    <code class="copyable">{{ reference }}@{{ email_domain }}</code>
</p>
<p>
    Subscribe to the Atom feed at<br />
    <code class="copyable">{{ web_url }}/feeds/{{ reference }}.xml</code>
</p>
<p>
    <strong>Don’t share these addresses.</strong><br />
    They contain an identifier that other people could use
    to send you spam and to control your newsletter subscriptions.
</p>
<p><strong>Enjoy your readings!</strong></p>
<p>
    <a href="{{ web_url }}/"><strong>Create another inbox</strong></a>
</p>